body {
	color: Purple;
	background-color: LimeGreen;
}

#text1 {
	font-family: 'Dosis', sans-serif;
}

#text2 {
	font-family: 'KoHo', sans-serif;
}

#text3 {
	font-family: 'Krub', sans-serif;
}

#text4 {
	font-family: 'Mali', cursive;
}

#text5 {
	font-family: 'Anton', sans-serif;
}

#text6 {
	font-family: 'Dokdo', sans-serif;
}

#text7 {
	font-family: 'Indie+Flower', sans-serif;
}

#text8 {
	font-family: 'Pacifico', cursive;
}